/*공통*/
.Dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 1;
}

.dialog-close {
  width: 30px;
  background-color: #fddc00;
  padding: 8px;
  cursor: pointer;
  float: right;
}

.mainTitle {
  display: inline-block;
  margin-top: 5px;
}

.formItem {
  display: inline-block;
  vertical-align: top;
}
.contentBlock-inner {
  border: 1px solid #ccc;
  padding: 20px;
}


/* 배달내역관리 */

.top-menu {
  margin-bottom: 20px;
  height: 40px;
}
.top-menu > div {
  display: inline-block;
  vertical-align: top;
  /* margin-left: 20px; */
}
.top-menu > div:first-child,
div:nth-child(2) {
  margin-left: 0;
}
.download-btn {
  vertical-align: top;
  height: 33px;
  padding: 0 20px;
}
.download-btn img {
  width: 18px;
  margin: 0 5px 2px 0;
}

/* 바이크 등록,수정 모달 */

.registBike-Dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 1000px; */
  z-index: 2;
}
.dialog-content {
  padding: 30px;
  background-color: white;
}
.dialog-title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  float: left;
  padding-bottom: 20px;
}
.dialog-close {
  width: 30px;
  cursor: pointer;
  background-color: #fddc00;
  float: right;
  padding: 8px;
}
.dialog-inner {
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: left;
  margin-top: 20px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  clear: both;
}
.dialog-block {
  height: 40px;
  margin-bottom: 15px;
}
.dialog-block > div {
  display: inline-block;
}
.dialog-block > div:first-child {
  font-size: 18px;
  font-weight: bold;
  width: 130px;
}
.registBike-Dialog .dialog-block .ant-radio-group span:first-child {
  margin-bottom: 1.5px;
}
.registBike-Dialog .dialog-block .ant-radio-group span:last-child {
  font-size: 16px;
}
.dialog-block textarea {
  vertical-align: top;
  border-color: #d9d9d9;
  resize: none;
  padding: 0 10px;
}
.dialog-block textarea::placeholder {
  font-weight: 300;
  color: #c1c1c1;
  font-size: 14px;
}
.registBike-btn {
  text-align: center;
}

/* 바이크 정비이력 모달 */
.fixHistory-btn {
  text-align: right;
  margin-bottom: 20px;
}

/*가맹 수정 dialog*/
.modifyfran-Dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 1000px; */
  z-index: 2;
}

.modifyfran-content {
  padding: 30px;
  background-color: white;
}

.modifyfran-title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  /* width:300px; */
  display: inline-block;
  vertical-align: middle;
}

.modifyfran-close {
  width: 30px;
  cursor: pointer;
  background-color: #fddc00;
  /* display: inline-block; */
  float: right;
  padding: 8px;
}

.modifyfran-inner {
  width: 100%;
  overflow-y: scroll;
  text-align: left;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.modifyfran-inner::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.modifyfran-inner .mainTitle {
  width: 100px;
}

.modifyfran-inner .ant-radio-group {
  width: 170px;
  margin-left: 20px;
}

.modifyfran-innerbox {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
}

/*가맹비 dialog*/
.franfee-Dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 1000px; */
  z-index: 2;
}

.franfee-content {
  padding: 30px;
  background-color: white;
}

.franfee-title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  /* width:300px; */
  display: inline-block;
  vertical-align: middle;
}

.franfee-close {
  width: 30px;
  cursor: pointer;
  background-color: #fddc00;
  /* display: inline-block; */
  float: right;
  padding: 8px;
}

.franfee-inner {
  width: 100%;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: left;
  margin-top: 20px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.franfee-inner::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.franfee-inner-box {
  height: 100px;
  border: 1px solid black;
  padding: 10px;
}

/*충전내역 dialog*/
.charge-Dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 1000px; */
  z-index: 2;
}

.charge-content {
  padding: 30px;
  background-color: white;
}

.charge-title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  /* width:300px; */
  display: inline-block;
  vertical-align: middle;
}

.charge-close {
  width: 30px;
  cursor: pointer;
  background-color: #fddc00;
  /* display: inline-block; */
  float: right;
  padding: 8px;
}

.charge-inner {
  width: 100%;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: left;
  margin-top: 20px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.charge-inner::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.charge-inner-box {
  height: 100px;
  border: 1px solid black;
  padding: 10px;
}

/*예치금 지급*/

.deposit-Dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 1000px; */
  z-index: 2;
}

.deposit-content {
  padding: 30px;
  background-color: white;
}

.deposit-title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  /* width:300px; */
  display: inline-block;
  vertical-align: middle;
}

.deposit-close {
  width: 30px;
  cursor: pointer;
  background-color: #fddc00;
  /* display: inline-block; */
  float: right;
  padding: 8px;
}

.deposit-inner {
  width: 100%;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: left;
  margin-top: 20px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.deposit-inner::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.deposit-inner-box {
  height: 100px;
  border: 1px solid black;
  padding: 10px;
}

.deposit-inner .mainTitle{
  width:100px;
}

/* 홈페이지공지 */
.noticeTag {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  padding-top: 8px;
  padding-bottom: 8px;
}

/*메뉴권한설정*/

.systemKey-Dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 1000px; */
  z-index: 2;
}

.systemKey-content {
  padding: 30px;
  background-color: white;
}

.systemKey-title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  /* width:300px; */
  display: inline-block;
  vertical-align: middle;
}

.systemKey-close {
  width: 30px;
  cursor: pointer;
  background-color: #fddc00;
  /* display: inline-block; */
  float: right;
  padding: 8px;
}

.systemKey-inner {
  width: 100%;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: left;
  margin-top: 20px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.systemKey-inner::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.systemKey-inner-box {
  height: 100px;
  border: 1px solid black;
}

.systemKey-inner .ant-table-pagination.ant-pagination {
  display: none;
}
